name: First workflow
on:
    [workflow_dispatch]
jobs:
    first-job:
        runs-on: ubuntu-latest
        steps:
            - name: print
              run: |
                echo "Test"
                echo "Build"